fastapi~=0.111.0
pandas~=2.2.2
pydantic~=2.8.0
python-dotenv~=1.0.1
sqlalchemy~=2.0.31
uvicorn~=0.30.1
psycopg2-binary
sphinx
pytest
httpx
starlette
lcatricity_dataschema @ git+https://github.com/Electricity-LCA/lcatricity_dataschema@0.0.3